nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-height: 10vh;
   background: rgb(93, 152, 93);
   color: white;
}

.nav_links {
   width: 50%;
   display: flex;
   text-decoration: none;
   justify-content: space-around;
   align-items: center;
   list-style: none;
   color: white;
}

.link {
   color: white;
   text-decoration: none;
}
