.button {
   font: inherit;
   font-size: 14px;
   border: 1px solid green;
   background: green;
   color: white;
   padding: 0.25rem 1rem;
   cursor: pointer;
}

.button:hover,
.button:active {
   background: rgb(93, 152, 93);
   border-color: rgb(93, 152, 93);
}

.button:focus {
   outline: none;
}
